@{
    Layout = null;
}


<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_UILayoutHeadComponents")

<body>


    @await Component.InvokeAsync("_UILayoutNavbarComponents")

    @RenderBody()

    @await Component.InvokeAsync("_UILayoutFooterComponents")
    
    
</body>

</html>
