<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-1"><img src="~/furni-1.0.0/images/img-grid-1.jpg" alt="Untree.co"></div>
                    <div class="grid grid-2"><img src="~/furni-1.0.0/images/img-grid-2.jpg" alt="Untree.co"></div>
                    <div class="grid grid-3"><img src="~/furni-1.0.0/images/img-grid-3.jpg" alt="Untree.co"></div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4">Modern İç Tasarım Yapmanıza Yardımcı Oluyoruz</h2>
                <p>Yaşamınız boyunca hızlı ve kolay alışveriş deneyimi sunarız. Müşteri memnuniyetini ön planda tutarak hizmet veririz.</p>

                <ul class="list-unstyled custom-list my-4">
                    <li>Hızlı ve güvenilir alışveriş hizmeti</li>
                    <li>Kolay ve kullanıcı dostu alışveriş deneyimi</li>
                    <li>Her an yanınızda olan müşteri destek ekibi</li>
                    <li>Kolay iade politikası</li>
                </ul>
                <p><a href="#" class="btn">Keşfet</a></p>
            </div>
        </div>
    </div>
</div>
