@model AcunMedyaFurniter.DAL.Entities.Testimonials

@{
    ViewData["Title"] = "Yeni Referans Ekle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">Yeni Referans Ekleme Sayfası</div>
    </div>
    <div class="card-body">
        <form asp-action="CreateTestimonial" method="post">
            <div class="form-group">
                <label asp-for="NameSurname" class="font-weight-bold">Ad ve Soyad</label>
                <input asp-for="NameSurname" class="form-control" placeholder="Ad ve Soyad" />
                <span asp-validation-for="NameSurname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Title" class="font-weight-bold">Başlık</label>
                <input asp-for="Title" class="form-control" placeholder="Başlık" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Comment" class="font-weight-bold">Yorum</label>
                <textarea asp-for="Comment" class="form-control" placeholder="Yorum" rows="4"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageUrl" class="font-weight-bold">Görsel URL'si</label>
                <input asp-for="ImageUrl" type="text" class="form-control" placeholder="Görsel URL'si" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Kaydet</button>
            <a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
        </form>
    </div>
</div>
