@model List<AcunMedyaFurniter.DAL.Entities.Service>

<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Neden Bizi Seçmelisiniz</h2>
                <p>Modern mimari dokunuşlarla tasarladığımız mobilyaları sizlere sunarken çeşitli hizmetlerimizden faydalanabilirsiniz. Yaşamınız boyunca hızlı ve kolay alışveriş deneyimi sunarız. Müşteri memnuniyetini ön planda tutarak hizmet veririz.</p>

                <div class="row my-5">

                    @foreach (var item in Model)
                    {
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="~/furni-1.0.0/images/@item.Icon" alt="icon" />
                                </div>
                                <h3>@item.ServiceName</h3>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    }



                </div>
            </div>

            <div class="col-lg-5">
                @foreach(var item in Model)
{<div class="img-wrap">
    <img src="@item.ImageUrl" alt="" class="img-fluid">
</div>

}
                
            </div>
        </div>
    </div>
</div>
