<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">

            <a href="../index.html" class="logo">
                <img src="~/kaiadmin-lite-1.0.0/assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20">
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a href="/Default/Index" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Siteye Git</p>
                    </a>
                  
                    <a href="/Admin/Subscriber/Index" aria-expanded="false">
                        <i class="fas fa-user"></i>
                        <p>Abonelikler</p>
                    </a>
                    <a href="/Admin/Message/MessageList" aria-expanded="false">
                        <i class="fas fa-envelope"></i>
                        <p>Gelen Mesajlar</p>
                    </a>
                    <a href="/Admin/Product/Index" aria-expanded="false">
                        <i class="fas fa-tag"></i>
                        <p>Ürünler</p>
                    </a>
                    <a href="/Admin/Testimonial/Index" aria-expanded="false">
                        <i class="fas fa-comments"></i>
                        <p>Referanslar</p>
                    </a>
                    <a href="/Admin/Service/Index" aria-expanded="false">
                        <i class="fas fa-truck-moving"></i>
                        <p>Hizmetler</p>
                    </a>
                    <a href="/Admin/Team/Index" aria-expanded="false">
                        <i class="fas fa-truck-moving"></i>
                        <p>Ekibimiz</p>
                    </a>
                    <a href="/Admin/SocialMedia/Index" aria-expanded="false">
                        <i class="fas fa-mobile-alt"></i>
                        <p>Sosyal Medya</p>
                    </a>
                    <a href="/Admin/Contact/Index" aria-expanded="false">
                        <i class="fas fa-id-card"></i>
                        <p>İletişim</p>
                    </a>


                </li>
            </ul>
        </div>
    </div>
</div>